body, html {
          margin: 0;
          padding: 0;
          height: 100%;
          overflow: hidden;
          font-family: "Rubik", sans-serif;
        }

        @media (prefers-color-scheme: dark) {
        	body, div	{
        		background-color:black;
        		color:white;
        	}
        }

        @media (prefers-color-scheme: light) {
        	body, div	{
        		background-color:white;
        		color:black;
        	}
        }

        @media screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
          html {
            transform: rotate(90deg);
            transform-origin: right top;
            width: 100vh;
            height: 100vw;
            overflow-x: hidden;
            position: absolute;
            top: 103%;
            right: 0;
          }

          #circle{
            height: 10vh!important;
            width: 10vh!important;
            border: 1vh solid blue!important;
          }

        }

        div {
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
        }

        span {
          overflow: hidden auto;
          white-space: nowrap;
          text-overflow: ellipsis;
          display: block;
          margin-bottom: 5px;
          width: 100%;
        }